@charset 'utf-8'

@import 'src/styles/resources'

.base
  font-size: size($default-font-size)
  color: $black-color
  margin: size(0.8, 'em') 0,

.default
  composes: base

.title
  composes: base
  font-size: size($h6-font-size)
  color: $white-color