@charset 'utf-8'

@import 'src/styles/resources'

.base
  font-size: size($default-font-size)
  color: $white-color
  padding: size(1, 'em')
  border-radius: size(3)
  margin: size(5)
  border: none
  outline: 0
  text-decoration: none
  &:active
    transform: scale(0.97)

.default
  composes: base
  background-image: $blue-gradient
  transition: all 0.3s ease-in

.secondary
  composes: default
  font-size: size($large-font-size)
  border-radius: size(40)
  color: $black-color
  padding: size(0.8, 'em') size(2.5, 'em')
  font-weight: bold

.primary
  composes: base
  font-size: size($h6-font-size)
  background-color: $green-color
  border-radius: size(40)
  padding: size(0.5, 'em') size(2.5, 'em')
  box-shadow: 5px 5px 20px rgba($black-color, 0.5)
  color: $black-color
  transition: all 0.3s ease-in

.orange
  composes: base
  background-color: $orange

.outline-black
  composes: base
  border-radius: size(5)
  padding: size(3) size(10)
  border: $px $black-color solid
  color: $black-color

.disabled
  composes: base
  background: $gray-color 
  cursor: not-allowed