@charset 'utf-8'

@import 'src/styles/resources'

.container
  max-width: calc(400px - 4em)
  padding: 2em

.description
  color: $white-color
  font-size: 14px

.balance
  display: flex
  justify-content: space-between
  p
    color: $white-color

.input
  background-color: #1c2033
  color: #636470
  border: 1px solid #636470
  width: 100%

.button
  font-weight: bold
  width: 100%
  margin: 0

.warning
  color: #F8A602
  font-size: 14px
  margin: 0
  &::before
    content: "!"
    display: inline-block
    width: 0
    height: 0
    border-left: 10px solid transparent
    border-right: 10px solid transparent
    border-bottom: 15px solid #F8A602
    border-radius: 3px
    color: white
    font-weight: bold
    margin: 0 5px
